@()

@main("Stratego") {
    <body class="backgroundd">
        <div class="row text-center">
            <div class="col-12 test rounded mx-auto d-block ">
                <a href="/">
                    <img class="img rounded mx-auto d-block" src="@routes.Assets.versioned("images/media/stratego_title.png")"/>
                </a>
            </div>
            <div class="subtitl mt-0">
                <h2>Backend of: <a href="https://benjaminmannsdoerfer.github.io/stratego-vue-app/#/">stratego-vue-app</a></h2>
            </div>
            <div class="mt-0">
                <a href="https://github.com/BenjaminMannsdoerfer/stratego-vue-app" target="_blank">
                    <img src="@routes.Assets.versioned("images/media/github.png")"width="80" height="80"/>
                </a>
            </div>
            <div class="subtitl mt-0">
                <h2>Backend github repository</h2>
            </div>
            <div class="mt-0">
                <a href="https://github.com/BenjaminMannsdoerfer/stratego-web-app" target="_blank">
                    <img src="@routes.Assets.versioned("images/media/github.png")"width="80" height="80"/>
                </a>
            </div>
        </div>
    </body>
}