@()

@main("Stratego") {
        <div class="row text-center">
            <div class="col-12">
                <img src="@routes.Assets.versioned("images/media/stratego_title.png")"/>
            </div>
                <ul class="nav-start justify-content-center">
                    <li class="nav-item">
                        <a href="/about" target="_blank">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/load">Load</a>
                    </li>
                </ul>
                <div class="subtitl">
                    <h2>Please select the field size</h2>
                </div>

            <button type="button" class="btn btn-primary">Primary</button>


            <form action=/small>
                <button class="a_button" > small </button>
            </form>
            <form action=/medium id="form-btn">
                <button class="a_button"> medium </button>
            </form>
            <form action=/large>
                <button class="a_button"> large </button>
            </form>
        </div>


    @*<div class="center-selection">
        <img src="@routes.Assets.versioned("images/media/stratego_title.png")"/>
        <ul class="topnav-start">
            <a href="/about" target="_blank">About</a>
            <a href="/load">Load</a>
        </ul>
        <div class = subtitle>
            <h2>Please select the field size</h2>
        </div>
        <div class="container">
            <form action=/small>
                <button class="a_button" id="btn1"> small </button>
            </form>
            <form action=/medium id="form-btn">
                <button class="a_button" id="btn2"> medium </button>
            </form>
            <form action=/large>
                <button class="a_button" id="btn3"> large </button>
            </form>
        </div>
        <div class="about">
                <a href="https://github.com/BenjaminMannsdoerfer/stratego-web-app" target="_blank">
                    <img src="@routes.Assets.versioned("images/media/github.png")"width="80" height="80"/>
                </a>
        </div>
    </div>*@
}
