@(controller: de.htwg.se.stratego.controller.controllerComponent.ControllerInterface)

@main("Stratego") {
    <body class="backgroundd">
        <div class="row text-center">
            <div class="col-12">
                <img class="img-fluid" src="@routes.Assets.versioned("images/media/stratego-header-home-transparent.png")" alt="stratego-header-init"/>
            </div>
            <ul class="nav-start justify-content-center">
                <li class="nav-item">
                    <a href="/">New Game</a>
                </li>
                <li class="nav-item">
                    <a href="/about" target="_blank">About</a>
                </li>
                <li class="nav-item">
                    <a href="/load">Load</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:setfigures()">Set Figures</a>
                </li>
            </ul>
            <div id="jump_head">
                <h2 class="color-blue" id="set-header"></h2>
            </div>
            <div class="init-game-top">
                <img class="img-fluid img-game-top" src="@routes.Assets.versioned("images/media/Redwall_Stratego_Board_border_top.jpg")"/>
            </div>
            <div class="mid-border">
                <div class="row justify-content-center">
                    <div class="col-auto init-game-left">
                        <img class="img-game-left" src="@routes.Assets.versioned("images/media/Redwall_Stratego_Board_border_left.jpg")"/>
                    </div>
                    <div id="gamefield" class="col-auto init-game-mid">
                        <div id="app">
                            <table class="matchfield">
                                <tbody>
                                    <template v-for="row in fields">
                                        <tr>
                                            <template v-for="aField in row.cols">
                                                    <td v-if="aField.isSet" class="char-pic field">
                                                        <div v-if="aField.colour && this.playerListBufferBlue !== 0" >
                                                            <input class="fig-cards" type="image" v-on:click="" :src="aField.figSrc"/>
                                                        </div>
                                                    </td>
                                                <td v-else class="char-pic">
                                                    <input class="fig-cards" type="image" v-on:click="" :src="aField.blackSrc"/>
                                                </td>
                                            </template>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>



                    @* <div :key="aField.col + aField.row" style="height: 80px;*@
                    @* width: 80px;">*@
                    @*<div v-else class="cardPlaceholder">
                    <img style="pointer-events: none;" class="cardImage" :src="col.src" :style="{ transform: 'rotate(' + col.rotation + 'deg)'}">
                    <template v-for="manican in col.manicans">
                    <img style="pointer-events: none" :class="manican.dir" :src="manican.src">
                    </template>
                    </div>*@

                    @* <div class="col-auto init-game-mid" id="board">*@

                    <div class="col-auto init-game-right">
                        <img class="img-game-right" src="@routes.Assets.versioned("images/media/Redwall_Stratego_Board_border_right.jpg")"/>
                    </div>
                </div>
            </div>
            <div class="init-game-bot">
                <img class="img-game-bot" src="@routes.Assets.versioned("images/media/Redwall_Stratego_Board_border_bottom.jpg")"/>
            </div>
            <div class="w-50 p-3 margin-center" id="init">
                <form class="init" action=/init>
                    <input id="initGame" type="submit" class="btn btn-dark btn-lg" data-toggle="tooltip" data-placement="bottom" value="set characters automatically">
                </form>
            </div>

            <div id="init_field_set_figures">

            </div>
        </div>
    </body>
}
