@(controller: de.htwg.se.stratego.controller.controllerComponent.ControllerInterface)

@main("Stratego") {

        <body class="backgroundd">
            <div class="row text-center">
                <div class="col-12">
                    <img class="img-fluid" src="@routes.Assets.versioned("images/media/stratego-header-home-transparent.png")" alt="stratego-header-init"/>
                </div>
                <ul class="nav-start justify-content-center">
                    <li class="nav-item">
                        <a href="/">New Game</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" target="_blank">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/undo#jump_header">Undo</a>
                    </li>
                    <li class="nav-item">
                        <a href="/redo#jump_header">Redo</a>
                    </li>
                    <li class="nav-item">
                        <a href="/save#jump_header">Save</a>
                    </li>
                    <li class="nav-item">
                        <a href="/load#jump_header">Load</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:moveattack()">Move + Attack</a>
                    </li>
                </ul>
                <div id="won-header">
                    <h2 id="game-won"></h2>
                    <form action="/" id="won-btn">

                    </form>
                </div>

                <div id="jump_header">
                    <h2 class="color-blue" id="game-header"></h2>
                </div>


                <div id ="app">
                    <play_game></play_game>
                </div>


            </div>
        </body>

}