@()

@main("Stratego") {
    <body class="backgroundd">
        <div class="row text-center">
            <div class="col-12 test rounded mx-auto d-block ">
                <a href="/">
                    <img class="img rounded mx-auto d-block" src="@routes.Assets.versioned("images/media/stratego_title.png")"/>
                </a>
            </div>
            <ul class="nav-start justify-content-center">
                <li class="nav-item">
                    <a href="/">New Game</a>
                </li>
                <li class="nav-item">
                    <a href="/about" target="_blank">About</a>
                </li>
                <li class="nav-item">
                    <a href="/load">Load</a>
                </li>
            </ul>
                <div class="subtitl mt-0">
                    <h2>Please enter your Names</h2>
                </div>
                <div class="w-50 p-3 margin-center">
                    <form action="/setPlayer">
                        <div class="row justify-content-center">
                            <div class="form-group col-lg-4">
                                <input type="text" id="player1" name="player1" class="form-control" placeholder="Player 1">
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="text" id="player2" name="player2" class="form-control" placeholder="Player 2">
                            </div>
                        </div>
                        <input type="submit" id="init-btn" class="btn btn-dark btn-lg btn-primary-spacing" data-toggle="tooltip" data-placement="bottom" title="Start Game" value="Play">
                    </form>
                </div>
        </div>
    </body>
}